*.mov
.DS_Store
.env
Backups/
DataDictionary/OldVersions
Old/
ProjectManagement/
__pycache__/
dist/
make-output.txt
node_modules/
openapi/Backups
openapi/Old
out.log
postman/Old
postman/postman_api_key.txt
prism.log
python_env/
scripts/python_env
scripts/python_env/e2o.venv
scripts/test_data_generator_for_collections/node_modules
scripts/test_data_generator_for_openapi_specs/test_data_generator.venv
secure/
temp.txt
vscode-setup
OldVersions/
Makefile
# Local ignores
